.pdf-viewer {
    overflow: auto;
    height: 100%;
    display:grid;
    place-items:center;
    overflow-x: hidden;
    

   
   
}

.pdf-page-container {
    margin: 1em 0;
}

.pdf-viewer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f5f5f5;
  border-radius:8px;
}

.pdf-viewer::-webkit-scrollbar
{
	width: 5px;
  border-radius:12px;
	background-color: #f5f5f5;
  
  
}

.pdf-viewer::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(82,86,89);
  border:1px solid #f5f5f5;
  border-radius:8px;
}


